@mixin container {
  width: 260px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 768px) {
    width: 668px;
  }

  @media (min-width: 1150px) {
    width: 1050px;
  }
}

@mixin form-title {
  font-size: 17px;
  line-height: 16px;
  color: $color-cyan;
  text-transform: uppercase;
}

@mixin placeholder-text {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  color: $color-text-placeholder;

  @media ($tablet) {
    font-size: 19px;
  }
}
