.best-seller {
  padding-top: 32px;

  @include outline;
}

.best-seller__title {
  padding: 0;
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: $color-text-title;
}

.best-seller__state {
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: $color-cyan;
}

.best-seller__description {
  font-size: 15px;
}

.best-seller__table-cell {
  font-size: 15px;
  line-height: 20px;
}

.best-seller__price {
  font-weight: bold;
}
