.best-seller {
  position: relative;
  padding-top: 32px;

  @media ($tablet) {
    padding-top: 55px;
  }
}

.best-seller__container {
  position: relative;

  @include container;
}

.best-seller__title {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;

  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: $color-text-title;

  @media ($tablet) {
    padding-right: 167px;

    font-size: 43px;
    line-height: 50px;
  }
}

.best-seller__state {
  font-weight: bold;
  line-height: 16px;
  color: $color-cyan;
  text-transform: uppercase;

  @media ($tablet) {
    position: absolute;
    top: 15px;
    right: 0;

    width: 125px;

    text-align: center;
  }
}

.best-seller__description {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 25px;

  font-size: 15px;

  @media ($tablet) {
    padding-right: 410px;
  }
}

.best-seller__table {
  width: 100%;
  margin-bottom: 27px;

  border-collapse: collapse;

  @media ($tablet) {
    width: 290px;
    padding-right: 410px;
  }
}

.best-seller__table-row {
  border-bottom: 1px solid #ececec;
}

.best-seller__table-cell {
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 15px;
  line-height: 20px;

  &--value {
    width: 165px;
  }
}

.best-seller__image {
  width: 260px;
  height: 316px;
  margin-bottom: 20px;

  @media ($tablet) {
    position: absolute;
    top: 75px;
    right: 0;
  }
}

.best-seller__price {
  margin-bottom: 25px;

  font-weight: bold;
  text-align: center;
}
