.catalog-item {
  margin-bottom: 30px;

  border-bottom: 1px solid #c7c7c7;

  @media ($tablet) {
    display: table;
    margin-bottom: 55px;
  }

  @media ($desktop) {
    display: inline-block;
    width: 315px;
    margin-right: 51px;

    vertical-align: top;

    border: 0;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

.catalog-item__title {
  font-weight: bold;
  font-size: 17px;
  color: $color-text-title;

  @media ($tablet) {
    font-size: 20px;
    line-height: 24px;
  }
}

.catalog-item__description {
  font-size: 13px;
  line-height: 30px;

  @media ($tablet) {
    font-size: 15px;
    line-height: 30px;
  }
}

.catalog-item__img {
  @media ($tablet) {
    display: table-cell;
    width: 334px;
    height: 334px;

    vertical-align: top;
  }

  @media ($desktop) {
    float: left;
    width: 315px;
    height: 462px;
  }
}

.catalog-item__img img {
  display: block;
  width: 100%;
  height: 100%;
}

.catalog-item__content {
  @media ($tablet) {
    display: table-cell;
    width: 274px;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;

    vertical-align: top;
  }

  @media ($desktop) {
    width: 253px;

    border: 1px solid #c7c7c7;
  }
}

.catalog-item__info {
  width: 205px;
  margin: 0 auto;
  padding-top: 20px;

  @media ($tablet) {
    width: auto;
    min-height: 210px;
    padding-top: 0;
  }

  @media ($desktop) {
    min-height: 124px;
  }
}

.catalog-item__order {
  width: 205px;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 25px;

  border-top: 1px solid #c7c7c7;

  @include clearfix;

  @media ($tablet) {
    width: auto;
    margin: 0;
  }

  @media ($desktop) {
    margin: 0;
  }
}

.catalog-item__price {
  float: left;
  width: 105px;

  font-weight: bold;
  font-size: 15px;
  color: $color-text-title;

  @media ($tablet) {
    display: block;
    width: 134px;

    font-size: 17px;
  }
}

.catalog-item__cart {
  display: inline-block;
  float: left;
  width: 100px;
  height: 19px;

  font-size: 0;
  vertical-align: top;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 100% 0;

  @media ($tablet) {
    display: block;
    width: 135px;
  }

  @media ($desktop) {
    width: 115px;
  }
}
