.contacts {
  padding-top: 45px;
  @include outline;
}

.contacts__title {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  color: $color-text-title
}

.contacts__field {
  font-size: 15px;
  line-height: 30px;
}

.contacts__text {
  text-decoration: none;
  color: $color-text-ordinary;
  font-size: 15px;
  line-height: 30px;
}
