.logo {
  display: block;
  width: 86px;
  height: 35px;
  margin-right: auto;
  margin-bottom: 27px;
  margin-left: auto;
}

@media (min-width: 768px) {
  .logo {
    float: left;
    margin-top: 23px;
  }
}

@media (min-width: 1150px) {
  .logo {
    position: absolute;
    top: 23px;
    left: 50%;

    margin: 0;

    transform: translateX(-50%);
  }
}
