.logo {
  display: block;
  width: 86px;
  height: 35px;
  margin-bottom: 22px;
  order: 1;

  @media ($tablet) {
    width: 113px;
    height: 46px;
    margin-top: 15px;
  }

  @media ($desktop) {
    margin: 0;
    width: 149px;
    height: 73px;
    order: 2;
  }
}
