.main-footer {
  padding-top: 30px;
  background-color: $color-background;
  @include outline;
}

.main-footer__copyright-text {
  font-size: 19px;
  line-height: 18px;
  color: $color-text-title;
  font-weight: bold;
}
