.main-header {
  position: relative;

  background-color: $color-background;
}

.main-header__container {
  @media ($tablet) {
    @include container;
  }
}

.main-header__top {
  padding-top: 22px;

  background-color: #ffffff;
  border-bottom: 1px solid #ececec;

  @include clearfix;

  @media ($tablet) {
    padding: 0;
  }
}

.main-header__title {
  margin: 0;
  padding: 0;
  padding-top: 75px;
  padding-bottom: 75px;

  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: $color-text-title;
}
