.main-menu {
  position: relative;
}

.main-menu__container {
  display: block;
}

.main-menu__list--categories {
  @media ($tablet) {
    position: absolute;
    width: 435px;
    left: 0;
    top: 100px;
  }

  @media ($desktop) {
    position: static;
    width: 405px;
    float: left;
    font-size: 17px;
    font-size: 0;
  }
}

.main-menu__list--categories .main-menu__link {
  @media ($tablet) {
    padding: 0;
    margin-right: 36px;
    font-size: 15px;
  }

  @media ($desktop) {
    padding-left: 35px;
    padding-top: 30px;
    padding-right: 35px;
    padding-bottom: 30px;
    margin-right: 0;
  }

  &--catalog {
    @media ($desktop) {
      padding-left: 0;
    }
  }
}

.main-menu__list--categories .main-menu__link {
  @media ($desktop) {
    &:nth-child(1) {
      border-right: 1px solid #ececec;
      padding-left: 0;
    }
  }
}

.main-menu__list--controls {
  @media ($tablet) {
    width: 348px;
    float: right;
    text-align: right;
    font-size: 0;
  }
}

.main-menu__toggle {
  position: absolute;
  top: -54px;
  right: 30px;

  font-size: 0;

  background-color: #ffffff;
  border: 0;

  &--opened {
    width: 21px;
    height: 20px;

    background-image: url("../img/icon-menu-close.svg");
    background-repeat: no-repeat;
  }

  &--closed {
    width: 20px;
    height: 14px;

    background-image: url("../img/icon-menu-open.svg");
    background-repeat: no-repeat;
  }

  @media ($tablet) {
    display: none;
  }
}

.main-menu__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.main-menu__item {
  text-align: left;

  border-top: 1px solid #ececec;

  @media ($tablet) {
    display: inline-block;
    vertical-align: top;
    border: 0;
  }
}

.main-menu__link {
  position: relative;

  display: block;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;

  font-weight: bold;
  color: $color-text-title;
  text-decoration: none;
}

.main-menu__align-center {
  position: relative;
  display: block;
  width: 200px;
  margin: 0 auto;
  padding-left: 47px;

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0px;

    opacity: 0.2;
  }

  &--search {
    &::before {
      width: 18px;
      height: 18px;

      background-image: url("../img/icon-search.svg");
      background-repeat: no-repeat;
    }

    @media ($tablet) {
      font-size: 0;
      padding-right: 0;
      border-left: 1px solid #ececec;
      border-right: 1px solid #ececec;
    }
  }

  &--cart {
    &::before {
      width: 20px;
      height: 19px;

      background-image: url("../img/icon-cart.svg");
      background-repeat: no-repeat;
    }

    @media ($tablet) {
      padding-right: 0;
      font-size: 17px;
    }
  }

  @media ($tablet) {

  }
}

.extra-nav {
  display: none;

  @media ($tablet) {
    display: none;
    float: left;
  }
}

.delivery-info {
  display: none;

  @media ($tablet) {
    display: none;
    float: right;
  }
}
