.main-header {
  position: relative;

  background-color: $color-background;
}

.main-header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  @media ($tablet) {
    @include container;
    flex-direction: row;
  }
}

.main-header__top {
  padding-top: 22px;

  background-color: #ffffff;
  border-bottom: 1px solid #ececec;

  @media ($tablet) {
    background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 85px, #e7e7e7 85px, #e7e7e7 86px, #f9f9f9 86px,  #f9f9f9 100%);
    padding-top: 0;
    border-bottom: 0;

    &--gray {
      background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 85px, #e7e7e7 85px, #e7e7e7 86px, #f1f1f1 86px,  #f1f1f1 100%);
    }
  }
}

.main-header__toggle {
  position: absolute;
  width: 21px;
  height: 21px;
  border: 0;
  font-size: 0;
  top: 30px;
  right: 30px;

  background-color: #ffffff;
  background-image: url("../img/icon-menu-close.svg");
  background-repeat: no-repeat;

  &--opened {
    background-image: url("../img/icon-menu-open.svg");
  }

  @media ($tablet) {
    display: none;
  }
}

.no-js .main-header__toggle {
  display: none;
}

.main-header__title {
  margin: 0;
  padding: 0;
  padding-top: 75px;
  padding-bottom: 75px;

  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: $color-text-title;

  @media ($tablet) {
    font-size: 43px;
    line-height: 50px;
    padding-top: 50px;
    padding-bottom: 80px;
  }

  @media ($desktop) {
    font-size: 53px;
    line-height: 57px;
  }
}

.main-header__delivery-info {
  display: none;
  font-size: 15px;

  @media ($tablet) {
    display: block;
    order: 5;
    width: 40%;
    text-align: right;
  }

  @media ($desktop) {
    flex-grow: 1;
  }
}
