.main-nav {
  order: 2;
  width: 100%;
  margin: 0;
  padding: 0;

  list-style-type: none;
  font-size: 0;

  @media (max-width: 767px) {
    position: absolute;
    top: 77px;
    z-index: 2;
    left: 0;

    background-color: #ffffff;

    &--closed {
      display: none;
    }
  }

  @media ($tablet) {
    order: 4;
    width: 60%;
  }

  @media ($desktop) {
    order: 1;
    width: 43%;
  }
}

.no-js .main-nav {
  position: static;

  display: block;
}

.main-nav__item {
  border-top: 1px solid #ececec;

  @media ($tablet) {
    display: inline-block;

    vertical-align: top;

    border-top: 0;
  }
}

.main-nav__link {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;

  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $color-text-title;
  text-decoration: none;

  @media ($tablet) {
    margin-right: 36px;
    padding-top: 15px;
    padding-bottom: 15px;

    font-size: 15px;
  }

  @media ($desktop) {
    margin-right: 0;
    padding-top: 30px;
    padding-right: 35px;
    padding-bottom: 35px;

    font-size: 17px;

    &--catalog {
      border-right: 1px solid #ececec;
    }

    &--order {
      padding-left: 35px;
    }
  }
}

.main-nav__link:hover {
  opacity: 0.6;
}

.main-nav__link:active {
  opacity: 0.3;
}

.main-nav__align-center {
  display: block;
  width: 204px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 46px;

  @media ($tablet) {
    width: auto;
    padding-left: 0;
  }
}
