.map {
  margin-bottom: 38px;
  margin-top: 7px;

  @media ($tablet) {
    margin-top: 25px;
    margin-bottom: 55px;
  }

  @media ($desktop) {
    order: 1;
    margin-top: 0;
  }
}

.map__inner {
  height: 457px;

  background-image: url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media ($desktop) {
    width: 525px;
    margin: 0;
  }
}
