.map {
  @media ($desktop) {
    order: 1;
  }
}

.map__inner {
  height: 457px;
  margin-right: auto;
  margin-bottom: 39px;
  margin-left: auto;

  background-image: url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media ($tablet) {
    margin-top: 30px;
    margin-bottom: 56px;
  }

  @media ($desktop) {
    width: 525px;
    height: 457px;
    margin: 0;
  }
}
