.modal {
  padding-top: 35px;

  @include outline;
}

.modal__title {
  font-size: 25px;
  line-height: 30px;
  color: $color-text-title;
  font-weight: bold;
}

.modal__description {
  font-size: 15px;
  line-height: 30px;
}

.to-cart__label {
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
}
