.modal {
  padding-top: 35px;
  padding-right: 30px;
  padding-bottom: 46px;
  padding-left: 30px;

  border-top: 1px solid #c7c7c7;

  @include outline;
}

.modal__title {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: $color-text-title;
}

.modal__description {
  font-size: 15px;
  line-height: 30px;
  text-align: center;
}
