.order {
  padding-top: 27px;
}

.order__container {
  @include container;
}

.order__description {
  margin: 0;

  font-size: 13px;

  @media ($tablet) {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
    line-height: 30px;
    margin-top: 70px;
  }
}
