.order {
  padding-top: 22px;


}

.order__container {
  @include container;
}

.order__description {
  margin: 0;

  font-size: 13px;

  @media ($tablet) {
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
    line-height: 30px;
    margin-top: 51px;
    padding-right: 51px;
  }
}
