.production {
  @media ($desktop) {
  }
}

.production__video {
  position: relative;

  width: 260px;
  height: 150px;

  background-image: url("../img/video-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media ($tablet) {
    order: -1;
    width: 668px;
    height: 455px;
    margin-bottom: 39px;
  }

  @media ($desktop) {
    width: 682px;
    height: 455px;
    margin-right: 22px;
    margin-bottom: 0;
  }
}

.production__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid #ececec;
  padding-top: 18px;

  @include container;

  @media ($tablet) {
    padding-top: 0;
  }

  @media ($desktop) {
    height: 455px;
    border: 1px solid #ececec;
  }
}

.production__play-btn {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 101px;
  height: 77px;
  margin: 0;
  padding: 0;

  background-image: url("../img/icon-play.svg");
  border: 0;
  transform: translate(-50%, -50%);
}

.production__title {
  position: relative;

  margin: 0;

  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $color-text-title;
  padding-left: 90px;
  margin-bottom: 24px;

  &::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    top: 6px;
    left: 34px;

    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
  }

  @media ($tablet) {
    margin-bottom: 4px;
    padding-right: 42px;
    padding-left: 100px;

    font-size: 20px;
    line-height: 24px;

    &::before {
      bottom: 0;
      top: -6px;
      left: 42px;
    }
  }

  @media ($desktop) {
    width: 210px;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    padding-top: 95px;

    &::before {
      top: 41px;
      left: 0;
    }
  }
}

.production__description {
  padding-left: 34px;
  padding-right: 34px;
  font-size: 13px;
  margin: 0;
  margin-top: 27px;
  margin-bottom: 25px;

  @media ($tablet) {
    padding-right: 42px;
    padding-left: 42px;
    margin-bottom: 35px;

    font-size: 15px;
    line-height: 30px;
  }

  @media ($desktop) {
    padding-right: 0;
    padding-left: 0;
    margin-top: 29px;
    width: 226px;
    margin-bottom: 46px;
  }
}

.production__order {
  width: 190px;
  margin: 0 auto;
  margin-bottom: 33px;

  @media ($tablet) {
    width: 586px;
    margin-right: 42px;
    margin-left: 42px;
    margin-bottom: 45px;
  }

  @media ($desktop) {
    width: 230px;
    margin: 0;
  }
}
