.production {
  position: relative;

  padding-top: 25px;
}

.production__video {
  position: relative;

  width: 260px;
  height: 150px;

  background-image: url("../img/video-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media ($tablet) {
    position: absolute;
    top: 0;

    width: 668px;
    height: 455px;
  }
}

.production__container {
  @include container;
}

.production__play-btn {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 101px;
  height: 77px;
  margin: 0;
  padding: 0;

  background-image: url("../img/icon-play.svg");
  border: 0;
  transform: translate(-50%, -50%);
}

.production__title {
  position: relative;
  margin: 0;

  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $color-text-title;

  @media ($tablet) {
    margin-bottom: 40px;
    padding-top: 475px;
    padding-right: 42px;
    padding-left: 100px;

    font-size: 20px;
    line-height: 24px;

    &::before {
      position: absolute;
      content: "";
      display: block;
      width: 32px;
      height: 32px;
      background-image: url("../img/icon-video.svg");
      background-repeat: no-repeat;
      left: 40px;
      bottom: 0;
    }
  }
}

.production__description {
  font-size: 13px;

  @media ($tablet) {
    margin-bottom: 40px;
    padding-right: 42px;
    padding-left: 42px;

    font-size: 15px;
    line-height: 30px;
  }
}

.production__order {
  @media ($tablet) {
    width: 586px;
    margin-right: 42px;
    margin-left: 42px;
  }
}
