.production {
  padding-top: 25px;

  @include outline;
}

.production__video {
  width: 260px;
  height: 150px;
  background-image: url("../img/video-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.production__title {
  margin: 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: $color-text-title;
}

.production__description {
  font-size: 13px;
}
