.promo {
  padding-top: 75px;

  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;

  @include outline;
}

.promo__title {
  width: 244px;
  margin: 0;
  margin-bottom: 125px;
  padding: 0;
  padding-right: 8px;
  padding-left: 8px;

  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: $color-text-title;
}

.promo__link {
  padding-right: 30px;
  padding-left: 30px;

  font-weight: bold;
  font-size: 19px;
  color: #ffffff;
  text-decoration: none;;

  &--interior {
    background-color: $color-cyan;
  }

  &--toys {
    background-color: #56c3b2;
  }
}
