.reviews {
  padding-top: 28px;

  @media ($tablet) {
    margin-bottom: 80px;
    padding-top: 60px;

    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
  }

  @media ($desktop) {
    background: none;
  }
}

.reviews__container {
  display: flex;
  flex-direction: column;


  @include container;

  @media ($tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  @media ($desktop) {
    padding-top: 80px;
    padding-left: 175px;
    width: 875px;

    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
  }
}

.reviews__items {
  @media ($tablet) {
    order: 2;
    margin-top: 50px;
  }
}

.reviews__title {
  margin: 0;
  margin-bottom: 24px;

  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: $color-text-title;

  @media ($tablet) {
    flex-grow: 1;
    width: 334px;
    margin-bottom: 0;

    font-size: 43px;
    line-height: 50px;
  }

  @media ($desktop) {
    font-size: 53px;
    line-height: 57px;
    margin-top: 0;
  }
}

.reviews__text {
  margin: 0;
  padding: 0;

  font-size: 15px;
  line-height: 30px;

  @media ($tablet) {
    font-size: 17px;
    line-height: 30px;
  }

  @media ($desktop) {
    width: 775px;
  }
}

.reviews__author {
  display: block;
  margin-top: 26px;

  font-weight: bold;
  font-size: 18px;
  color: $color-text-title;
  font-style: normal;

  @media ($tablet) {
    order: 3;
    padding-bottom: 50px;

    font-size: 17px;
  }

  @media ($desktop) {
    flex-basis: 350px;
    padding-bottom: 100px;
  }
}

.reviews__author-contact {
  display: inline-block;
  margin-top: 3px;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;

  @media ($tablet) {
    display: block;
  }
}

.reviews__btns {
  margin-top: 30px;
  margin-bottom: 30px;

  font-size: 0;

  @media ($tablet) {
    order: 4;

    width: 167px;
  }

  @media ($desktop) {
    bottom: 60px;
  }
}

.reviews__btn {
  width: 50%;
  height: 52px;

  background-color: #ffffff;
  border: 1px solid #ececec;
  cursor: pointer;

  &--prev {
    background-image: url("../img/icon-left-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-right: 0;
  }

  &--next {
    background-image: url("../img/icon-right-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  @media ($tablet) {
    border: 0;
  }
}

.reviews__write {
  @media ($tablet) {
    order: 1;
    width: 175px;
  }

  @media ($desktop) {
    top: 80px;
  }
}
