.social-links {
  margin-bottom: 25px;
  padding-bottom: 27px;

  font-size: 0;
  text-align: center;

  border-bottom: 1px solid #e5e5e5;

  @media ($tablet) {
    //width: 300px;
    width: 33%;
    border: 0;
  }
}
