.user-nav {
  order: 3;
  width: 100%;
  margin: 0;
  padding: 0;

  list-style-type: none;


  @media (max-width: 767px) {
    position: absolute;
    top: 247px;
    left: 0;
    z-index: 2;

    background-color: #ffffff;

    &--closed {
      display: none;
    }
  }

  @media ($tablet) {
    flex-grow: 1;
    box-sizing: border-box;
    width: auto;
    height: 89px;

    font-size: 0;
    text-align: right;
  }
}

.no-js .user-nav {
  position: static;

  display: block;
}

.user-nav__item {
  border-top: 1px solid #ececec;

  @media ($tablet) {
    display: inline-block;
    box-sizing: border-box;
    height: 89px;

    vertical-align: top;

    border-top: 0;
  }
}

.user-nav__item:first-child {
  @media ($tablet) {
    border-right: 1px solid #ececec;
    border-left: 1px solid #ececec;
  }
}

.user-nav__link {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;

  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $color-text-title;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media ($tablet) {
    box-sizing: border-box;
    height: 89px;
    padding-right: 0;
    padding-bottom: 35px;
    padding-left: 37px;

    &--search {
      font-size: 0;

      //border-right: 1px solid #ececec;
      //border-left: 1px solid #ececec;
    }
  }
}

.user-nav__link:hover path {
  fill: #46c1ae;
}

.user-nav__align-center {
  position: relative;

  display: block;
  width: 204px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 46px;

  @media ($tablet) {
    width: auto;
  }
}

.user-nav__align-center svg {
  position: absolute;
  left: 0;

  @media ($tablet) {
    top: 5px;
    left: -4px;
  }

  @media ($desktop) {
    left: -6px;
  }
}
